<form action="javascript:" id="add-endeavor-form" title="Input new endeavor.">
  <p>
    <label>
      <span>present endeavors:</span>

      <select name="endeavors">
        <option value="1">Get a job</option>
        <option value="2">Get a girlfriend</option>
        <option value="3">Get a life</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      <span>new endeavor:</span>
      <input type="text" name="endeavor" value="Get ready" title="alpha-numeric characters only, inner spaces allowed" pattern="\w+( \w+)*" required>
    </label>
  </p>

  <button>add</button>
</form>
