<form action="javascript:" id="endeavors-form">
  <p>
    <label>
      <span>selected endeavor:</span>
      
      <select name="endeavor">
        <option value="1">Get a job</option>
        <option value="2">Get a girlfriend</option>
        <option value="3">Get a life</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      <span>action to take:</span>

      <select name="action">
        <option value="edit">edit</option>
        <option value="remove">remove</option>
        <option value="duplicate">duplicate</option>
      </select>
    </label>
  </p>

  <button>execute</button>
</form>
